<div class="default">
    <div class="container">
            <p>Notes</p> 
        <!-- <div class="navbar-default">
            <ul class="nav navbar-nav">
                <li><a href="#">Recipe</a></li>
                <li><a href="#">Recipe</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li class="dropdown">
                    <a href="#">Manage</a>
                    <ul class="dropdown-menu">
                        <li><a href="#">save data</a></li>
                        <li><a href="#">fetch data</a></li>
                    </ul>
                </li>
            </ul>
        </div> -->
    </div>
</div>


